<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Kamar</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(currentPageName='Update Hotel')"></nav>
<h2>Update Password</h2>
<div class="container-fluid">
    <form th:action="@{/updatePassword}" method="POST">
        <div class="row form-group">
            <label class="col-sm-4">Password Lama:</label>
            <input type="password" class="col-sm-8 form-control input-sm" name="passwordLama" required>
        </div>
        <div class="row form-group">
            <label class="col-sm-4">Password Baru:</label>
            <input type="password" class="col-sm-8 form-control input-sm" name="passwordBaru" pattern="(?=.*\d)(?=.*[a-z]).{8,}" required
                   title="Must contain at least one number and character, and at least 8 or more characters">
        </div>
        <div class="row form-group">
            <label class="col-sm-4">Konfirmasi Password Baru:</label>
            <input type="password" class="col-sm-8 form-control input-sm" name="konfirmasi" pattern="(?=.*\d)(?=.*[a-z]).{8,}" required
                   title="Must contain at least one number and character, and at least 8 or more characters">
        </div>
        <div class="row form-group">
            <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


</body>
</html>